.icons{display:inline-block;vertical-align:middle;margin:0 5px;background:url(../images/icons.png) no-repeat -100% -100%;}
.icon-w24{width:24px;height:24px;}
.icon-w40{width:40px;height:40px;}
.ico-user{background-position:0 0;}
.ico-login-out{background-position:-40px 0;}
.ico-home{background-position:0 -45px;}
.ico-storage{background-position:0 -120px;}
.ico-users{background-position:-25px -70px;}
.ico-agent{background-position:-25px -45px;}
.ico-terminal-shop{background-position:-50px -45px;}
.ico-goods{background-position:-50px -75px;}
.ico-order{background-position:-75px -45px;}
.ico-after-sale{background-position:0 -70px;}
.ico-details{background-position:0 -95px;}
.ico-operation{background-position:-25px -95px;}
.ico-settlement{background-position:-50px -95px;}
.ico-statistical{background-position:-75px -95px;}
.ico-system{background-position:-75px -70px;}
.ico-using,.ico-no-using{display:inline-block;vertical-align:middle;margin:0 10px;width:24px;height:20px;background:url(../images/ico-randw.png) no-repeat -100% -100%;}
.ico-using{background-position:0 0;}
.ico-no-using{background-position:0 -20px;}
.ico-sort{width:16px;height:18px;background-position:-28px -125px;}
